@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Nasza strona wpełni dba o bezpieczeństow użytkowników oraz ich danych. Logowanie odbywa się w 100% z zasadami RODO</p>
