@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w naszym portalu samochodowym!</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>Sprawdź dostępność szukanego samochodu w zakładce Tablica!</p>
    }
    else
    {
        <p>By przeglądać dostępne oferty samochodów pierw się zaloguj!</p>
    }
</div>
